/*CSS for Alicia Theme
By Vladimir Baranov
HackerYou 2016 Summer Bootcamp - Week 3*/

/*Import frameworks*/
@import "reset";

/*Theme Colors (SCSS)*/
$darkgreen: #1f6d69;
$orange: #d39f30;
$yellow: #f8f3b2;

/*Theme Fonts (SCSS)*/
$pageFont: "Lato", sans serif;

*, *:before, *:after {     
		moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
}

body {
	background: #f8f3b2;
    background: -webkit-linear-gradient(#f8f3b2 0%, #fff9b7 100%);
    background: -o-linear-gradient(#f8f3b2 0%, #fff9b7 100%);
    background: linear-gradient(#f8f3b2 0%, #fff9b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f3b2', endColorstr='#fff9b7',GradientType=0 );
    font-family: $pageFont;
}

.wrapper {
	align-items: center;
	max-width: 800px;
	height: 100vh;
	margin: 0 auto;
}

.title {
	text-align: center;
	padding-top: 100px;
	h1 {
	font-family: 'Georgia';
	font-style: italic;
	font-size: 80px;
	}
	p {
	text-transform: uppercase;
	padding-top: 70px;
	font-size: 30px;
	}
}

#search-form {
	width: 100%;
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	text-align: center;
	-webkit-transition: all 2s;
    transition: all 2s;
    p {
    	margin-bottom: 1em;
    }
	
	#searchQuery {
		width: 50%;
		height: 50px;
		font-family: $pageFont;
		font-size: 24px;
		border: 1px solid $darkgreen;
		padding-left: 20px;
	}
}

.searchIcon {
	color: $darkgreen;
	 position: relative;
	i {
		position: absolute;
	    top: 50%;
	    transform: translate(-35px, -50%);
	    background-color: #fff;
	    font-size: 24px;
	}
}

#compare-form {
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 350px;
}

#bookDropdown, #movieDropdown {
	height: 40px;
	width: 35%;
	border: 0;
	background-color: $darkgreen;
	border: 1px solid $darkgreen;
	font-size: 18px;
	font-family: $pageFont;
	color: #fff;
	padding-left: 20px;
    margin: 20px auto;
}

#submitCompare {
	width: 17%;
	margin: 30px auto;
	border: none;
	padding: 5px;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	background-color: green;
}

.dropdownContainer {
	display: flex;
	flex-direction: row;
}

.comparisonSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 0;
	opacity: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background: lightgrey;
	-webkit-transition: opacity 2s;
    transition: opacity 2s;
    justify-content: space-around;
    text-align: center;
    z-index: 20;
}

.secondResult {
	width: 50%;
	height: 100vh;
	text-align: center;
	position: relative;
	padding-top: 50px;
}

.searchResults {
	width: 40%;
}

.pick {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	h2 {
		font-family: $pageFont;
		font-size: 30px;
	}
}


.firstResults {
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	-webkit-transition: all 2s;
    transition: all 2s;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.bookResult h2, .movieResult h2 {
	font-family: $pageFont;
	font-size: 28px;
	text-transform: uppercase;
}


.info {
	position: absolute;
	bottom: 50px;
	right: 50%;
	width: 100%;
    transform: translate(50%);
}

#rateYoBook, #rateYoMovie {
	margin: 0 auto;
}

option {
	display: inline-block;
}


/* TOOLS */

	/*CLEARFIX*/
	.clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	}

	/*CENTER TEXT*/
	.center-text {
		text-align: center;
	}