/*CSS for Alicia Theme
By Vladimir Baranov
HackerYou 2016 Summer Bootcamp - Week 3*/

/*Import frameworks*/
@import "reset";

/*Theme Colors (SCSS)*/
$highlight: #e58c20;
$dark: #423e3f;
$darker: #252525;
$light:	#ccc;
$lighter: #fff;

/*Theme Fonts (SCSS)*/
$pageFont: "Open Sans", sans serif;


*, *:before, *:after {     
		moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
}

// Test
/* comment2 */
//

body {
	background-color: grey;
}

p {

}

a {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

header {

}

footer {

}

.wrapper {
	align-items: center;
	max-width: 800px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #ddd;
}

#search-form {
	// height: 50px;
	width: 200px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	-webkit-transition: all 2s;
    transition: all 2s;
}
#compare-form {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#submitCompare {
	width: 100%;
	margin-top: 20px;
}

.comparisonSection {
	position: absolute;
	top: 0;
	opacity: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background: lightgrey;

	-webkit-transition: all 2s;
    transition: all 2s;

    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.searchResults {
	width: 40%;
}

.firstResults {
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	width: 100%;

	-webkit-transition: all 2s;
    transition: all 2s;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

option {
	display: inline-block;
}


/* TOOLS */

	/*CLEARFIX*/
	.clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	}

	/*CENTER TEXT*/
	.center-text {
		text-align: center;
	}